@media (min-width: 1920px) {
  .v-container {
    max-width: 1200px;
  }
}

// Variables
$primary: #5c5c5c;
$dark: rgb(77, 77, 77);
$gray: #a7a7a7;
$mew: #05c0a5;

html {
  min-width: 365px;
}

// Typography
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}

div {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

p {
  margin-bottom: 1rem;
}

h1,
.h1 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 300;
}

h2,
.h2 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;

  span {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
  }
}

h3,
.h3 {
  font-size: 0.93rem;
  line-height: 1.4rem;
  font-weight: 400;
}

h4,
.h4 {
  font-size: 0.84rem;
  line-height: 1.1rem;
  font-weight: 400;
}

h5,
.h5 {
  font-size: 0.64rem;
  line-height: 1rem;
  font-weight: 400;
}

a {
  color: $mew;

  &.small {
    font-size: 0.84rem;
  }
}

.heading-1 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  font-weight: 300;
}

.text--primary {
  color: $primary;
}

.text--gray {
  color: $gray;
}

.text--dark {
  color: $dark;
}

.text--white {
  color: white;
}

.text--mew {
  color: $mew !important;
}

.text-transform--none {
  text-transform: none;
}

// Custom elements
.elevated-box {
  border-radius: 20px;
  background-color: white;
}

.elevated-box-small {
  border-radius: 5px 5px 10px 10px;
  background-color: white;
  border-top: 10px solid $mew;
}